.header_wrapper {
  position: fixed;
  width: 100%;

  .header_content {
    margin: 0;
    display: flex;
    align-items: center;
    height: 70px;
    gap: 20px;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    background: var(--background-light);
    color: var(--text-color-light)
  }

  .logo {
    /*padding: 20px 20px 0 10px;*/
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    max-width: var(--sidebar-width);
  }

  h1 {
    margin: 0;
  }

  .createNew, .link, .logout_button, .add_task {

    background: var(--primary-color);
    border-radius: 40px;
    color: var(--text-color-light);
    height: 40px;
    border: none;
    transition: background 0.3s, color 0.3s; /* Adding transition for smooth effect */


    &:hover {
      cursor: pointer;
      background: var(--primary-color-hover); /* Change to your desired hover color */
      color: var(--text-color-hover); /* Change to your desired hover text color */
    }

    &:active {
      background: var(--primary-color-active); /* Change to your desired active color */
      color: var(--text-color-active); /* Change to your desired active text color */
    }
  }

  .link, .createNew, .logout_button, .add_task, {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: auto;
    padding: 15px 15px;
  }

  .authedPanel {
    gap: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;

    .project_title {
      font-weight: bolder;
    }

    .nav_right_side {
      display: flex;
    }
  }

  .nav_panel {
    width: 100%;
    display: flex;
    justify-content: end;
  }
}

