.header_wrapper {
  position: fixed;
  width: 100%;

  .header_content {
    margin: 0;
    display: flex;
    align-items: center;
    height: 70px;
    gap: 20px;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    background: var(--background-light);
    color: var(--text-color-light)
  }

  .logo {
    /*padding: 20px 20px 0 10px;*/
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    max-width: var(--sidebar-width);
  }

  h1 {
    margin: 0;
  }
}







