.dark_theme{
    --background-light: #2C2C38;
    --background-dark:#21212D;
    --primary-color: #645FC6;
    --secondary-color: #544E8D;
    --text-color-light: #ECEDF1;
    --text-color-dark: #5B616D;
}
