.wrapper {
  padding: 20px 20px 0 10px;
  width: var(--sidebar-width);
  background: var(--background-light);
  text-align: center;
  //overflow: scroll;
  max-height: calc(100vh - 90px);

  //overflow: hidden;
  //border-right: 1px solid var(--text-color-dark);

  h3 {
    margin-top: 0;
    text-align: center;
  }

  .logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;

    h1 {
      margin: 0;
    }
  }

  .newProject {
    margin-top: 10px;
  }

  .project_link {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;


    .project {
      display: flex;
      align-items: center;
      gap: 5px;
      width: 100%;
      padding: 10px;
      border-radius: 5px;

      &:hover {
        svg {
          fill: var(--primary-color-hover);
        }
      }

      &:active {
        svg {
          fill: var(--primary-color);
        }
      }
    }

    .selected_project {
      display: flex;
      align-items: center;
      gap: 5px;
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      background: var(--primary-color);

      &:hover {
        svg {
          fill: var(--primary-color-hover);
        }
      }

      &:active {
        svg {
          fill: var(--primary-color);
        }
      }
    }
  }
}

.create_new {
  width: 100%;
}

.customVirtuoso {
  width: var(--sidebar-width);
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: var(--primary-color) var(--background-dark);
}

.list_container {
  width: var(--sidebar-width);
  height: 90%;
}

.list_container::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

.list_container::-webkit-scrollbar-track {
  background: var(--background-dark);
}

.project_skeleton_wrapper {
  margin: 20px 0;
  display: flex;
  gap: 20px;

  .project_name_skeleton {
    height: 20px;
    background: var(--background-dark);
    width: 200px;
  }

  .project_logo_skeleton {
    height: 20px;
    background: var(--background-dark);
    width: 20px;
  }
}



