.wrapper {
  padding: 20px 20px 0 10px;
  width: var(--sidebar-width);
  background: var(--background-light);
  text-align: center;
  //height: calc(100vh - 70px);
  //overflow: hidden;
  //border-right: 1px solid var(--text-color-dark);

  h3 {
    margin-top: 0;
    text-align: center;
  }

  .logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;

    h1 {
      margin: 0;
    }
  }


  .newProject {
    margin-top: 10px;
  }

  .project_link {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;


    .project {
      display: flex;
      align-items: center;
      gap: 5px;


      &:hover {
        svg {
          fill: var(--primary-color-hover);
        }
      }

      &:active {
        svg {
          fill: var(--primary-color);
        }
      }
    }


    .project_delete:hover {
      cursor: pointer;

      svg {
        fill: var(--primary-color);
      }

    }
  }
}


