.delete_popup {
  display: flex;
  flex-direction: column;
  align-items: center;

  .delete_title {
    margin: 20px 0 0;
  }

  .delete_description {
    margin-bottom: 10px;
  }

  .project_name {
    font-weight: bolder;
  }

  .delete_button {
    margin-top: 10px;

    &:disabled {
      background: var(--disabled-button-color);
      color: var(--disabled-text-color);
    }
  }
}
